<div class="table-responsive">
  <table class ="table table-bordered">
    <thead>
      <tr>
      <% if current_page?(recruits_path) %>
        <th class="no-wrap">募集記事作成日</th>
      <% else %>
        <th class="no-wrap">応募日</th>
      <% end %>
        <th class="no-wrap">タイトル</th>
        <th class="no-wrap">練習形式</th>
        <th class="no-wrap">練習日</th>
      <% if current_page?(entries_path) %>
        <th class="no-wrap">応募状況</th>
      <% else %>
        <th class="no-wrap">募集状況</th>
        <th class="no-wrap">公開状況</th>
      <% end %>
      </tr>
    </thead>
    <tbody>
      <% if current_page?(recruits_path)  %>
        <% recruits.each do |recruit| %>
        <tr>
          <td><%= recruit.created_at.strftime('%Y/%m/%d') %></td>
          <td>
            <%= link_to recruit_path(recruit.id), class:"text-dark link" do %>
              <%= recruit.title %>
            <% end %>
          </td>
          <td><%= practice_type(recruit) %></td>
          <td><%= recruit.date.strftime('%m/%d') %></td>
          <td><%= recruit.recruit_status_i18n %>
            <% if recruit.match? %>
              <%= room_link(recruit.room, recruit) %>
            <% end %>
          </td>
          <td><%= open_status(recruit) %></td>
        </tr>
        <% end %>
      <% else %>
        <% entries.each do |entry| %>
      <tr>
        <td><%= entry.created_at.strftime('%Y/%m/%d') %></td>
        
        <% if entry.match_rejected? %>
        <td><%= entry.recruit.title %><%#= entry.inspect %></td>
        <% else %>
        <td>
          <%= link_to recruit_path(entry.recruit.id), class:"text-dark link" do %>
            <%= entry.recruit.title %>
          <% end %>
          <%#= entry.inspect %>
        </td>
        <% end %>
        
        <td><%= practice_type(entry.recruit) %></td>
        <td><%= entry.recruit.date.strftime('%m/%d') %></td>
        <td>
          <%= entry.entry_status_i18n %>
          <% if entry.recruit.room.present? && entry.match? %>
            <%= room_link(entry.recruit.room, entry.recruit) %>
          <% end %>
        </td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>        