<div class="table-responsive">  
  <table class="table user-information-table">
    <% if current_page?(admin_user_path(user.id)) %>
      <tr class="caption">
        <th class="no-wrap">クラブ名</th>
        <td><%= user.club_name %></td>
      </tr>
    <% end %>
      <tr class="caption">
        <th class="no-wrap">代表者氏名</th>
        <td><%= user.captain_name %></td>
      </tr>
    
    <% if !current_page?(admin_user_path(user.id)) %>
      <tr class="caption">
        <th class="no-wrap">ジャンル</th>
        <td><%= genre.name %></td>
      </tr>
      
      <tr class="caption">
        <th class="no-wrap">チームの年齢層</th>
        <td><%= user.age_group_i18n %></td>
      </tr>
    <% end %>
      
    <% if current_page?(user_path(user.id)) %>  
      <tr class="caption">
        <th class="no-wrap">主な活動地域</th>
        <td><%= user.prefecture_i18n %></td>
      </tr>
    <% else %>  
      <tr class="caption">
        <th class="no-wrap">主な活動場所</th>
        <td><%= user.user_address %></td>
      </tr>
    <% end %>
    
    <% if current_page?(admin_user_path(user.id)) %>
      <tr class="caption">
        <th class="no-wrap">e-mail</th>
        <td><%= user.email %></td>
      </tr>
    
      <tr class="caption">
        <th class="no-wrap">活動状況</th>
        <td class="space-between no-wrap">
          <%= active_status(user) %>
          <%= link_to '編集', 
            edit_admin_user_path(user.id), 
            class:"btn btn-success w-25 user-edit-button" 
          %>
        </td>
      </tr>
    <% else %>
      <tr class="caption">
        <th class="no-wrap">クラブ紹介</th>
        <td ><%= user.introduction %></td>
      </tr>
    <% end %>
  </table>
</div>