<div class ="container">
  <div class ="row">
    <div class ="col-md-3 border-right">
      <h2>募集<%= @recruits.where(open_status: true).count %>件</h2>
      <div class="mt-5">
        <%#= form_with url:root_path, method: :get do |f| %>
        <%= search_form_for @q, url: root_path do |f| %>
        <p><%= f.hidden_field :date_eq , :value => Date.today %></p>
        <p><%= f.submit '今日', class:"btn bg-warning btn-sm bg-gradient" %></p>
        <% end %>
      </div>

      <div>
        <%= search_form_for @q, url: root_path do |f| %>
        <p class="mb-0"><%=f.date_field :date_gteq, class:"form-control w-50 border-warning" %></p>
        <p class=" ml-5 pl-2 my-0">〜</p>
        <p class="mt-0"><%=f.date_field :date_lteq, class:"form-control w-50 border-warning" %></p>

        <p class="border-top mt-4 pt-3 mb-1"> ジャンルを指定</p>
        <p><%= f.text_field :user_genre_name_cont, class:"form-control w-75 border-warning mb-4", placeholder:"ジャンル名を入力" %></p>
        <p class="border-bottom mb-4"></p>

        <p><%= f.check_box(:practice_type_eq_any, {checked: false, multiple: true, include_hidden: false },1 ) %>　練習試合</p>
        <p><%= f.check_box(:practice_type_eq_any, {checked: false, multiple: true, include_hidden: false },2) %>　合同練習</p>
        <p><%= f.check_box(:liked_status_eq, {checked: false},true,false) %>　お気に入り</p>
        <p><%= f.submit 'この条件で検索', class:"btn bg-warning btn-sm bg-gradient p-2" %></p>
        <% end %>
      </div>
    </div>

    <div class ="col-md-8 mx-auto">
      <h2>練習相手募集一覧</h2>

      <div class="mt-5 d-flex flex-wrap p-0">
      <% @recruits.each do |recruit| %>
        <% if recruit.open_status == true %>
        <div class="card col-md-3 mt-0 border border-0">
          <%= link_to recruit_path(recruit.id), class:"text-dark" do %>
          <% if recruit.user.image.attached? %><%= image_tag recruit.user.image, size: "150x150", class:"rounded-circle card-img-top" %><% else %><%= image_tag recruit.user.genre.genre_image, size: "150x150", class:"rounded-circle card-img-top" %><% end %>
          <% end %>
          <div class="row">
            <p class="card-title"><%= recruit.title.truncate(8) %></p>
            <span><% if user_signed_in? %><%= like_button(current_user,recruit) %><% else %><i class="fas fa-heart", style="color: FF6388;"></i><% end %><%= recruit.likes.count %></span>
          </div>
        </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
<p><%#= paginate @recruits %></p>
</div>