<p></p>

<div class ="container">
  <div class ="row">
    <div class ="col-md-3 border-right">
      <h2>募集<%= @recruits.count %>件</h2>
      <div class="mt-5 border-bottom pb-3">
        <p><%= link_to '今日', root_path(today_recruit: Date.today), method: :get, class:"btn bg-warning btn-sm bg-gradient" %></p>
        <%= form_with url:root_path, method: :get do |f| %>
        <p><%=f.date_field :date_from, class:"form-control w-50 border-warning" %></p>
        <p><%=f.date_field :date_end, class:"form-control w-50 border-warning" %></p>
        <p><%= f.submit 'この期間で検索', class:"btn bg-warning btn-sm bg-gradient" %></p>
        <% end %>
      </div>
      <div class="mt-5">
        <%= form_with url:root_path, method: :get do |f| %>
        <p><%= f.check_box(:practice_type, {checked: false}, checked_value: true) %>　練習試合</p>
        <p><%= f.check_box(:practice_type, {checked: false}, checked_value: false) %>　合同練習</p>
        <p><%= f.check_box(:liked_posts, {checked: false}) %>　<i class="far fa-heart", style="color: FF6388;"></i>済募集記事</p>
        <% end %>
      </div>
    </div>

    <div class ="col-md-8 ml-5">
      <h2>練習相手募集一覧</h2>
      <div class="mt-5 d-flex flex-wrap">
      <% @recruits.each do |recruit| %>

        <% if recruit.open_status == true %>
        <div class="mr-3">
          <%= link_to recruit_path(recruit.id) do %>
          <% if recruit.user.image.attached? %><%= image_tag recruit.user.image, size: "150 X 150", class:"rounded-circle" %><% else %><i class="far fa-smile"></i><% end %>
          <% end %>

          <p><%= recruit.title.truncate(13) %></p>
          <% if user_signed_in? %>
            <% if recruit.liked_by?(current_user) %>
            <p><%= link_to recruit_likes_path(recruit),class:"text-dark", method: :delete do %><i class="fas fa-heart", style="color: FF6388;"></i> <%= recruit.likes.count %><% end %></p>
            <% else %>
            <p><%= link_to recruit_likes_path(recruit),class:"text-dark", method: :post do %><i class="far fa-heart", style="color: FF6388;"></i> <%= recruit.likes.count %><% end %></p>
            <% end %>
          <% else %>
            <p><i class="fas fa-heart", style="color: FF6388;"></i><%= recruit.likes.count %></p>
          <% end %>
          </div>
        <% end %>

      <% end %>
      </div>
    </div>
  </div>

</div>