<div class ="container">
  <div class ="row">
    <div class ="col-md-3 border-right">
      <h2>募集<%= @recruits.count %>件</h2>
      <div class="mt-5">
        <%= search_form_for @q, url: root_path do |f| %>
          <p><%= f.hidden_field :date_eq , :value => Date.today %></p>
          <p><%= f.submit '今日', class:"btn bg-warning btn-sm bg-gradient" %></p>
        <% end %>
      </div>

      <div>
        <%= render 'public/shared/ransack_form', q: @q %>
      </div>
    </div>

    <div class ="col-md-8 mx-auto px-0">
      <h2>練習相手募集一覧</h2>

      <div class="mt-5 d-flex flex-wrap p-0">
      <% @recruits.each do |recruit| %>
        <%#= recruit.inspect %>
        <div class="card col-md-3 mt-0 border border-0 mx-0">
          <%= link_to recruit_path(recruit.id), class:"text-dark" do %>
          <% if recruit.user.image.attached? %><%= image_tag recruit.user.image, size: "150x150", class:"rounded-circle" %><% else %><%= image_tag recruit.user.genre.genre_image, size: "150x150", class:"rounded-circle" %><% end %>
          <% end %>
          <div class="row">
            <p class="card-title"><%= recruit.title.truncate(8) %></p>
            <span><% if user_signed_in? %><%= like_button(current_user,recruit) %><% else %><i class="fas fa-heart", style="color: FF6388;"></i><% end %><%= recruit.likes.count %></span>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<p><%#= paginate @recruits %></p>
</div>