<p></p>

<div class ="container">
  <div class ="row">
    <h2>ユーザー一覧</h2>
    <div class ="col-md-10">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>No.</th>
            <th>クラブ名</th>
            <th>代表者氏名</th>
            <th>e-mail</th>
            <th>活動ステータス</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <tr>
            <td><%= link_to admin_user_path(user.id) do %><%= user.id %><% end %></td>
            <td><%= user.club_name %></td>
            <td><%= user.captain_name %></td>
            <td><%= user.email %></td>
            <td><% if user.active_status == true %>活動中<% else %>退会済<% end %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>