<p></p>

<div class="container">
  <div class = "row">
    <div class="col-md-2">
      <%= user_image(@user,100,100,6) %>
      <% if @user != current_user %>
        <p><%= link_to show_user_path(@user.id), class:"text-dark" do %><%= @user.club_name %><% end %></p>
      <% else %>
        <p><%= link_to my_page_path, class:"text-dark" do %><%= @user.club_name %><% end %></p>
      <% end %>
    </div>
    
    <div class="col-md-9 mx-auto">
      <div>
        <h3 class="border-bottom border-secondary"><%= @recruit.title %> <i class="fas fa-heart fa-xs", style="color: FF6388;"></i><span class="h5"><%= @recruit.likes.count %></span></h3>
        <h5 class=" mt-4"><%= @recruit.date.strftime('%Y/%m/%d') %> に @<%= @recruit.site.site_name %> で『<% if @recruit.practice_type == false %>合同練習<% else %>練習試合<% end %>』 ができる相手を募集しています</h5>
      <% if @recruit.age_group_i18n != "指定なし" %>
        <p>※この募集対象は、<%= @recruit.age_group_i18n %>に限ります。</p>
      <% end %>
      </div>
      
      <div class="mt-4">
        <h5 class="mb-4">練習内容</h5>
        <span class="border p-3 border-secondary"><%= @recruit.detail %></span>
      </div>
      
      <div class="mt-5">
      <% if @user == current_user %>
      <!--current_user が募集者の時-->
        <p class="d-flex justify-content-end">
          <% if @recruit.recruiting? || @recruit.having_candidates? %><%= link_to '編集する', edit_recruit_path(@recruit.id), class:"btn btn-success mr-2 w-25" %><% end %>
          <% if @recruit.having_candidates? && @recruit.entries.where(entry_status: 1).any? %><%= link_to '応募受付終了', recruit_path(@recruit, recruit: {recruit_status: "match", user_id: current_user.id, date: @recruit.date, title: @recruit.title, practice_type: @recruit.practice_type, detail: @recruit.detail, age_group: @recruit.age_group}, site_id: @recruit.site_id ), method: :patch, class:"btn btn-info w-25" %><% end %>
        </p>
        
      <% else %>
      <!--current_user が募集者でない時-->
        <% if (@entry.new_record? ) && (@recruit.recruiting? || @recruit.having_candidates?) %>
          <p class="d-flex justify-content-end"><%= link_to '応募する', entries_path(@entry, entry: {recruit_id: @recruit.id, user_id: current_user.id}), method: :post, class:"btn btn-primary w-25" %></p>
        <% end %>
        
        <% if @entry.id.present? && @recruit.having_candidates? %>
          <p class="d-flex justify-content-end"><%= link_to '応募取消', entry_path(@entry.id), method: :delete, class:"btn btn-danger w-25" %></p>
        <% end %>
        
      <% end %>
      </div>
      
    </div>
    <div class = "row">
    <% if @user == current_user %>
      <div class=" col-md-12">
      <% if @recruit.having_candidates? %>
        <h5>応募者一覧(募集ステータス: <%= @recruit.recruit_status_i18n %>)</h5>
      <% end %>
        <div class="d-flex flex-wrap" >
        <% @entries.each do |entry| %>
          <% if entry.recruit.having_candidates? && entry.entered? %>
          <div class="mr-5 mt-5">
            <p><%= link_to show_user_path(entry.user.id) do %><%= user_image(entry.user,70,70,4) %><% end %></p>
            <p><%= entry.user.club_name %>
            <%= link_to entry_path(entry, entry: {entry_status: "match", user_id: entry.user.id, recruit_id: entry.recruit.id }), method: :patch do %><i class="fas fa-check-circle"></i><% end %>
            <%= link_to entry_path(entry, entry: {entry_status: "match_rejected", user_id: entry.user.id, recruit_id: entry.recruit.id }), method: :patch do %><i class="fas fa-times-circle"></i><% end %>
            </p>
          </div>
          <% end %> 
        <% end %>
        </div>
        
      <% if @recruit.match? || @recruit.having_candidates? %>
        <h5>参加メンバー</h5>
      <% end %>
        <div class="d-flex flex-wrap" >
        <% @entries.each do |entry| %>
          <% if entry.recruit.match? %>
          <div class="mr-5 mt-5">
            <p><%= link_to show_user_path(entry.user.id) do %><%= user_image(entry.user,70,70,4) %><% end %></p>
            <p><%= entry.user.club_name %></p>
          </div>
          <% end %> 
        <% end %>
        </div>
      </div>
    <% else %>
      <% if @entry.id.present? %><p>応募ステータス: <%= @entry.entry_status_i18n %></p><% end %>
    <% end %>
    </div>

  </div>
  
  