<p></p>

<div class="container">
  <div class = "row">
    <div class="col-md-4">
      <% if @user.image.attached? %>
      <%= image_tag @user.image, size: "100 X 100" %>
      <% else %>
      <i class="far fa-smile"></i>
      <% end %>
      <p><%= @user.club_name %></p>
    </div>
    
    <div class="col-md-8">
      <div>
        <h3><%= @recruit.title %></h3>
        <h5><%= @recruit.date %>に<%= @site.site_name %>で<% if @recruit.practice_type == false %>合同練習<% else %>練習試合<% end %> ができる相手を募集しています</h5>
      <% if @recruit.age_group_i18n != "指定なし" %>
        <p>※この募集対象は、<%= @recruit.age_group_i18n %>に限ります。</p>
      <% end %>
      </div>
      
      <div class="mt-5">
        <h5>練習内容</h5>
        <%= @recruit.detail %>
      </div>
      
      <div class="mt-2">
      <% if @user == current_user %>
        <p><%= link_to '編集する', edit_recruits_path(@recruit.id), class:"btn btn-success mr-2" %></p>
      <% else %>
        <%= form_with model: @entry, url:create_entries_path(@entry.id), method: :post do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :recruit_id, :value => @recruit.id %>
          <p><%= f.submit '応募する', class:"btn btn-primary" %></p>
        <% end %>
        <% if @entry.exist? %>
          <p><%= link_to '応募取消', destroy_entries_path(@entry.id), method: :delete, class:"btn btn-danger" %></p>
        <% end %>
      <% end %>
      </div>
      
    </div>
  </div>
  
  <div class = "row">
    <% if @user == current_user %>
    <h5>応募者一覧(応募ステータス: <%= @recruit.recruit_status_i18n %>)</h5>
    <% else %>
    <p>応募ステータス: </p><%= @entry.entry_status_i18n %>
    <% end %>
  </div>
</div>