<p></p>

<div class ="container">
  <h3>通知一覧</h3>
  <div class="row">
    <% if @unchecked_notifies.exists? %>
      <% @unchecked_notifies.each do |notify| %>
      <div class="my-2">
        <% if notify.action == "like" %>
        <p><%= notify.notifier.club_name %>が<%= notify.recruit.title %>に いいね しました</p>
        <% elsif notify.action == "message" %>
        <p><%= notify.notifier.club_name %>から メッセージ が届きました</p>
        <% elsif notify.action == "entry" %>
        <p><%= notify.notifier.club_name %>が<%= notify.recruit.title %>に応募しました</p>
        <% elsif notify.aciton == "match" %>
        <p><%= notify.recruit.title %>で<% notify.notifier.club_name %>とマッチしました！</p>
        <% else %>
        <p><%= notify.recruit.title %>でのマッチは不成立でした。</p>
        <% end %>
      </div>
      <% end %>
    <% else %>
    <p>通知はありません</p>
    <% end %>
  </div>
</div>