<p></p>

<div class ="container">
  <h3>通知一覧</h3>
  <div class="row">
    <% if @notifies.exists? %>
    <div class="my-5 mx-auto">
      <% @notifies.each do |notify| %>
      <table class="table table-borderless">
        <% if notify.action == "like" %>
        <tr>
          <td><%= link_to show_user_path(notify.notifier.id) do %><%= image_tag notify.notifier.image, size:'60 X 60' %><% end %></td>
          <th><%= notify.notifier.club_name %>が　"<%= link_to recruit_path(notify.recruit.id) do %><%= notify.recruit.title %><% end %>"　に いいね しました</th>
        </tr>
        <% elsif notify.action == "message" %>
        <tr>
          <td><%= link_to show_user_path(notify.notifier.id) do %><%= image_tag notify.notifier.image, size:'60 X 60' %><% end %></td>
          <th><%= notify.notifier.club_name %>から メッセージ が届きました</th>
        </tr>
        <% elsif notify.action == "entry" %>
        <tr>
          <td><%= link_to show_user_path(notify.notifier.id) do %><%= image_tag notify.notifier.image, size:'60 X 60' %><% end %></td>
          <th><%= notify.notifier.club_name %>が"　<%= notify.recruit.title %>"　に応募しました</th>
        </tr>
        <% elsif notify.aciton == "match" %>
        <tr>
          <td></td>
          <th>"<%= notify.recruit.title %>"　で<% notify.notifier.club_name %>とマッチしました！</th>
        </tr>
        <elsif notify.action == "cancel" %>
          <tr>
          <td></td>
          <th><%= notify.notifier.club_name %>との<% if notify.recruit.practice_type == true %>練習試合<% else %>合同練習<% end %>はキャンセルされました。</th>
        </tr>
        <% else %>
        <tr>
          <td></td>
          <th>"<%= notify.recruit.title %>"　でのマッチは不成立でした。</th>
        </tr>
        <% end %>
      </table>
      <% end %>
    </div>
    <% else %>
    <div>
      <p>通知はありません</p>
    </div>
    <% end %>
  </div>
</div>