<div class ="container">
  <h3>通知一覧</h3>
  <div class="row">
    <% if @notifies.exists? %>
    <div class="col-md-8 my-5 mx-auto">
      <% @notifies.each do |notify| %>
      <table class="table table-borderless">
        <% if notify.action == "like" %>
        <tr>
          <td><%= link_to show_user_path(notify.notifier.id), class:"text-dark" do %><%= user_image(notify.notifier, 30,30,2) %><% end %></td>
          <th><%= notify.notifier.club_name %>が　"<%= link_to recruit_path(notify.recruit.id), class:"text-dark" do %><%= notify.recruit.title %><% end %>"　に いいね♡しました</th>
        </tr>

        <% elsif notify.action == "message" %>
        <tr>
          <td><%= link_to show_user_path(notify.notifier.id), class:"text-dark" do %><%= user_image(notify.notifier, 30,30,2) %><% end %></td>
          <th><%= notify.notifier.club_name %>から メッセージが届きました</th>
        </tr>
        <% elsif notify.action == "entry" %>
        <tr>
          <td><%= link_to show_user_path(notify.notifier.id), class:"text-dark" do %><%= user_image(notify.notifier, 30,30,2) %><% end %></td>
          <th><%= notify.notifier.club_name %>が　"<%= link_to recruit_path(notify.recruit.id), class:"text-dark" do %><%= notify.recruit.title %><% end %>"　に応募しました</th>
        </tr>
        <% elsif notify.action == "match" %>
        <tr>
          <td><%= link_to show_user_path(notify.notifier.id), class:"text-dark" do %><%= user_image(notify.notifier, 30,30,2) %><% end %></td>
          <th>と、　"<%= link_to recruit_path(notify.recruit.id), class:"text-dark" do %><%= notify.recruit.title %><% end %>"　でマッチしました！</th>
        </tr>
        <% elsif notify.action == "match_rejected" %>
        <tr>
          <td><%= link_to recruit_path(notify.recruit.id), class:"text-dark" do %><%= user_image(notify.notifier, 30,30,2) %><% end %></td>
          <th><%= notify.recruit.title %>　への応募結果はマッチ不成立でした。</th>
        </tr>
        <% elsif %>
        <tr>
          <td><%= user_image(notify.notifier, 30,30,2) %></td>
          <th>"<%= notify.recruit.title %>"　の練習日を過ぎたため、この募集への応募は削除されました。</th>
        </tr>
        <% end %>
      </table>
      <% end %>
    </div>
    <% else %>
    <div class="col-md-8 mt-5">
      <h5>新しい通知はありません</h5>
    </div>
    <% end %>
  </div>
</div>