<div class ="container">
  <h3>通知一覧</h3>
  <div class="row">
    <% if @notifies.exists? %>
    
    <div class="col-lg-10 col-md-10 col-sm-12 col-12 my-5 mx-auto">
      <% @notifies.each do |notify| %>
      <table class="table table-borderless">
        <% if notify.action == "like" %>
        <tr>
          <td><%= profile_image(notify.notifier, notify.notifier.genre,30,30) %></td>
          <th>
            <span class="justify-content-start no-wrap">
              <%= notify.notifier.club_name %>が
              <%= link_to recruit_path(notify.recruit.id), class:"text-dark link" do %>
                "<%= notify.recruit.title %>"
                <% end %>にいいね!しました
            </span>
          </th>
        </tr>
        
        <% elsif notify.action == "follow" %>
        <tr>
          <td><%= profile_image(notify.notifier, notify.notifier.genre,30,30) %></td>
          <th>
            <span class="justify-content-start">
              <%= notify.notifier.club_name %>があなたをフォローしました
            </span>
          </th>
        </tr>

        <% elsif notify.action == "message" %>
        <tr>
          <td><%= profile_image(notify.notifier, notify.notifier.genre,30,30) %></td>
          <th>
            <span class="justify-content-start">
              <%= notify.notifier.club_name %>から
              <%= link_to 'メッセージ', room_path(notify.recruit.room.id), class:"text-dark link" %>が届きました
            </span>
          </th>
        </tr>
        
        <% elsif notify.action == "entry" %>
        <tr>
          <td><%= profile_image(notify.notifier, notify.notifier.genre,30,30) %></td>
          <th>
            <span class="justify-content-start">
              <%= notify.notifier.club_name %>が
              <%= link_to recruit_path(notify.recruit.id), class:"text-dark link" do %>
                "<%= notify.recruit.title %>"
              <% end %>に応募しました
            </span>
          </th>
        </tr>
        
        <% elsif notify.action == "match" %>
        <tr>
          <td><%= profile_image(notify.notifier, notify.notifier.genre,30,30) %></td>
          <th>
            <span class="justify-content-start">
              <%= notify.notifier.club_name %>と
              <%= link_to recruit_path(notify.recruit.id), class:"text-dark link" do %>
                "<%= notify.recruit.title %>"
              <% end %>でマッチしました！
            </span>
          </th>
        </tr>
        
        <% elsif notify.action == "match_rejected" %>
        <tr>
          <td>
          <%= link_to recruit_path(notify.recruit.id), class:"text-dark" do %>
            <% if notify.notifier.image.attached? %>
              <%= image_tag notify.notifier.image, 
                :size => '30x30', 
                class:"rounded-circle" 
              %>
            <% else %>
              <%= image_tag notify.notifier.genre.genre_image, 
                :size => '30x30', 
                class:"rounded-circle" 
              %>
            <% end %>
          <% end %>
          </td>
          <th>
            <span class="justify-content-start">
              <%= notify.recruit.title %>への応募結果はマッチ不成立でした。
            </span>
          </th>
        </tr>
        
        <% end %>
      </table>
      <% end %>
    </div>
    
    <% else %>
    
    <div class="col-lg-10 col-md-10 col-sm-12 col-12 mt-5 mx-auto">
      <h5>新しい通知はありません</h5>
    </div>
    
    <% end %>
  </div>
</div>