<div class ="container">
  <h2>ユーザー情報管理</h2>

  <div class ="row mt-5 mx-auto">
    <div class ="col-lg-2 col-md-6 col-sm-6 col-6 mr-5 mx-auto">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, 
          size: "150 X 150",
          class:"rounded-circle card-img-top" 
        %>
        
      <% else %>
        <%= image_tag @user.genre.genre_image,
          size: "150 X 150", 
          class:"rounded-circle card-img-top" 
        %>
      <% end %>
    </div>
  
    <div class="col-lg-9 col-md-12 col-sm-12 col-12 my-5 mx-auto">
      <%= form_with model: @user,url: admin_user_path(@user), method: :patch do |f| %>
        <div class="row g-3">
          <div class="col-lg-3 col-md-12 col-sm-12 col-12 mt-2 caption-user mb-3">
            <%= f.label :クラブ名 %>
          </div>
        
          <div class="col-lg-9 col-md-12 col-sm-12 col-12 mb-3">
            <%= f.text_field :club_name,
              autofocus: true,
              autocomplete:"",
              placeholder: "クラブ名",
              class:"form-control"
            %>
          </div>
          
          <div class="col-lg-3 col-md-12 col-sm-12 col-12 mt-2 caption-user mb-3">
            <%= f.label :代表者氏名 %>
          </div>
          
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
            <%= f.text_field :captain_last_name,
              autofocus: true,
              placeholder: "代表者姓",
              class:"form-control"
            %>
          </div>
          
          <div class="col-lg-5 col-md-6 col-sm-12 col-12 mb-3">
            <%= f.text_field :captain_first_name,
                autofocus: true,
                placeholder: "代表者名",
                class:"form-control"
              %>
          </div>
          
          <div class="col-lg-3 col-md-12 col-sm-12 col-12 mt-2 caption-user mb-3">
            <%= f.label :主な活動場所 %>
          </div>
          
          <div class="col-lg-2 col-md-5 col-sm-12 col-12 mb-3">
            <%= f.select :prefecture,
              User.prefectures_i18n.keys.map{|k| [I18n.t("enums.user.prefecture.#{k}"), k]},
              {include_blanck: t("選択してください")},
              class:"form-control"
            %>
          </div>
          
          <div class="col-lg-3 col-md-7 col-sm-12 col-12 mb-3">
            <%= f.text_field :municipality,
              placeholder: "市区町村",
              class:"form-control"
            %>
          </div>
          
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
            <%= f.text_field :address,
              placeholder: "番地",
              class:"form-control"
            %>
          </div>
          
          <div class="col-lg-3 col-md-12 col-sm-12 col-12 mt-2 caption-user mb-3">
            <span>e-mail</span>
          </div>
          
          <div class="col-lg-9 col-md-12 col-sm-12 col-12 mb-3">
            <%= f.email_field :email,
              autofocus: true,
              placeholder: "sample@email.com",
              class:"form-control"
            %>
          </div>
          
          <div class="col-lg-3 col-md-12 col-sm-12 col-12 caption-recruit">
            <p>活動状況</p>
          </div>
          
          <div class="col-lg-9 col-md-12 col-sm-9 col-12 mb-3">
            <span class="mr-5">
              <%= f.radio_button :active_status, true %>
              <%= f.label :"活動中" %>
            </span>
            <span>
              <%= f.radio_button :active_status, false, class:"ml-5" %>
              <%= f.label :"退会済" %>
            </span>
          </div>
          
          <div class="col-lg-3 col-md-12 col-sm-12 col-12 mt-2 mb-3">
          </div>
        
          <div class="col-lg-9 col-md-12 col-sm-12 col-12 mb-3 text-right">
            <%= f.submit "更新", class:"btn btn-primary w-25" %>
          </div>
  
        </div>
      <% end %>
    </div>
  </div>

</div>
