<div class ="container">
  <div class ="row">
    <div class ="col-lg-8 col-md-8 col-sm-10 col-xs-12 mx-auto mt-5">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table table-borderless mx-auto">
        <tbody>
          <tr>
            <td class="no-wrap text-center py-3">email</td>
            <td colspan="2">
              <%= f.text_field :email, 
                autofocus: true, 
                autocomplete: "email", 
                placeholder: "sample-user@com", 
                class:"form-control" 
              %>
              </td>
          </tr>
          <tr>
            <td class="no-wrap text-center py-3">password</td>
            <td colspan="2">
              <%= f.password_field :password, 
                autocomplete: "current-password", 
                placeholder: "password", 
                class:"form-control"  
              %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2", class="text-left no-wrap">
              <%= f.submit "ログイン", class:"btn btn-primary no-wrap" %>
              <%= link_to " ゲストログイン", 
                guest_sign_in_path, 
                method: :post, 
                class:"btn btn-info no-wrap"
              %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2", class="no-wrap text-left">
              <%= link_to '>>  新しくアカウントを作成する', new_user_registration_path %>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
