<p></p>

<div class ="container">
  <h2>Log in</h2>
  <div class ="row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table>
      <tbody>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.text_field :email, autofocus: true, autocomplete: "" %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :パスワード %></td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "ログイン" %></td>
          <td><%= f.submit " ゲストログイン" %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
    <%= render "public/shared/links" %>
  </div>
</div>
