<div class ="container">
  <!--<div class ="row">-->
  <!--  <div class =" mt-5">-->
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row g-3 col-lg-8 col-md-8 col-sm-12 col-12 mx-auto my-5">

      <div class="col-lg-2 col-md-2 col-sm-2 col-12 text-left mr-3">
        <p>email</p>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-9 col-12">
        <%= f.text_field :email,
          autofocus: true,
          autocomplete: "email",
          placeholder: "sample-admin@com",
          class:"form-control"
        %>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-2 col-12 text-left mr-3 mt-2">
        <p>password</p>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-9 col-12 mt-2">
        <%= f.password_field :password,
          autocomplete: "current-password",
          placeholder: "password",
          class:"form-control"
        %>
      </div>
      
      <div class="col-lg-2 col-md-2 col-sm-2 col-12 text-left mr-3">
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-4 col-12 mt-3">
        <%= f.submit "ログイン", class:"btn btn-primary no-wrap w-100" %>
      </div>

      <div class="col-lg-5 col-md-5 col-sm-5 col-12 mt-3">
        <%= link_to "ゲストログイン",
          guest_sign_in_path,
          method: :post,
          class:"btn btn-info no-wrap w-100"
        %>
      </div>
      
      <div class="col-lg-9 col-md-12 col-sm-12 col-12 text-center mt-5">
        <%= link_to '>>  新しくアカウントを作成する',
          new_user_registration_path
        %>
      </div>
    </div>
  <% end %>
 

</div>
