<p></p>
<div class ="container">
  <h3>
    <%= user_image(@user, 100,100,6) %> ユーザー情報編集
  </h3>
  <div class ="row mt-5">
  <%= form_with model: @user, url: update_user_path(@user.id), method: :patch do |f| %>
    <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= f.label :クラブ名 %></td>
            <td><%= f.text_field :club_name, autofocus: true, autocomplete: "" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>プロフィール画像</td>
            <td><%= f.file_field :image, accept: "image/*" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :代表者名 %></td>
            <td><%= f.text_field :captain_last_name, autofocus: true, placeholder: "代表者姓" %></td>
            <td><%= f.text_field :captain_first_name, autofocus: true, placeholder: "代表者名" %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :主な活動場所 %></td>
            <td><%= f.select :prefecture, User.prefectures_i18n.keys.map{|k| [I18n.t("enums.user.prefecture.#{k}"), k]}, {include_blanck: t("選択してください")} %></td>
            <td><%= f.text_field :municipality, placeholder: "市区町村" %></td>
            <td><%= f.text_field :address, placeholder: "番地" %></td>
          </tr>
          <tr>
            <td><%= f.label :クラブ紹介 %></td>
            <td colspan="3"><%= f.text_field :introduction %></td>
          </tr>
          <tr>
            <td><%= f.label :年齢層 %></td>
            <td><%= f.select :age_group, User.age_groups_i18n.keys.map{|k| [I18n.t("enums.user.age_group.#{k}"), k]}, {include_blanck: t("選択してください")} %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :ジャンル %></td>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blanck:"選択してください" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, placeholder: "sample@email.com" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><%= f.submit "更新", class:"btn btn-primary" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>

  </div>
</div>
