<div class="container">
  <div class="row">
    
    <div class ="col-md-4">
      <div>
        <%= profile_image(@user,@user.genre,130,130) %>
        <p class="mt-2"><%= @user.club_name %></p>
        <p>
          <%= link_to '編集', 
            edit_user_path(@user.id),
            class:"btn btn-success btn-sm mr-2" 
          %>
          <%= link_to '退会', 
            user_unsubscribe_confirm_path(@user), 
            class:"btn btn-danger btn-sm"
          %>
        </p>
        <p>
          <%= link_to notifies_path, class:"text-dark" do %>
            <i class="fas fa-bell bell-icon"></i> 
            通知<%= @notifies.count %>件
          <% end %>
        </p>
      </div>
      
      <div class="mt-2">
        <ul class="list-unstyled">
          <li>
            <i class="fas fa-map-pin"></i>
            <%= link_to '　 練習場所一覧', sites_path, class:"text-dark" %>
          </li>
          <li>
            <i class="fas fa-thumbtack"></i>　
            <%= link_to '  応募履歴', entries_path, class:"text-dark" %> 
          </li>
          <li>
            <i class="fas fa-bullhorn"></i>
            <%= link_to '　募集履歴', recruits_path, class:"text-dark" %>
          </li>
        </ul>
      </div>
    </div>
    

    <div class="col-md-8 my-5">
      <%= render '/public/shared/user_information', user: @user, genre: @user.genre %>
    </div>
    
  </div>
</div>