<p></p>

<div class="container">
  <div class="row">
    <div class ="col-md-4">
      <!--ユーザー画像の表示-->
      <%= user_image(@user,100,100,6) %>
      <p><%= @user.club_name, class:"text-dark" %></p>

    </div>
    <div class="col-md-8">
      <table class="table table-borderless">
        <tr>
          <td>代表者氏名</td>
          <td><%= @user.captain_name %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @genre.name %></td>
        </tr>
        <tr>
          <td>チームの年齢層</td>
          <td><%= @user.age_group_i18n %></td>
        </tr>
        <tr>
          <td>主な活動地域</td>
          <td><%= @user.prefecture_i18n %></td>
        </tr>
        <tr>
          <td>クラブ紹介</td>
          <td><%= @user.introduction %></td>
        </tr>
      </table>
    </div>
  </div>
</div>