<div class="container">
  <div class="row mt-5 mx-auto g-3">

    <div class ="col-lg-4 col-md-4 col-sm-12 col-12 mx-auto row">
      
      <div class="mx-auto">
        
        <!--ユーザー画像の表示-->
        <%= profile_image(
          @user,
          @user.genre,
          250,
          250) 
        %>
        
        <p class="mt-2 ml-5">

          <!--ユーザークラブ名-->
          <%= @user.club_name %>
          
          <!--フォローボタン-->
            <%= follow_button(
              @user,
              current_user) 
            %>
          
          <!--フォローワー数-->
          <%= @user.follows.count %>
          
        </p>
      </div>
      
    </div>
    

    <div class="col-lg-7 col-md-7 col-sm-12 col-12 my-5">
      <!--START ユーザー情報表-->
      <%= render '/public/shared/user_information', 
        user: @user, 
        genre: @user.genre 
      %>
      <!--END ユーザー情報表-->
    </div>

  </div>
</div>