<!DOCTYPE html>
<html>
  <head>
    <title>ClubMatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <!--ロゴ-->
      <nav class ="navbar navbar-expand-lg navbar-light">
        <div class ="container mt-0">
          <div class ="navbar-brand ">
            <%= link_to root_path do %>
            <%= image_tag'club_match_logo.png', :size => '125x125' %><% end %>
          </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!--ユーザーログイン後のナビゲーションバー-->
          <div class ="collapse navbar-collapse" id="navbarNavDropdown">
            <% if user_signed_in? %>
              <small><%= current_user.club_name %>さん、ようこそ！</small>
              <ul class ="navbar-nav ml-auto">
                <li class ="nav-item mr-3 mb-1" style="width:120px !important;">
                  <%= link_to '応募履歴', entries_path,
                  class:"btn btn-warning btn-gradient  py-2 w-100" %>
                </li>
                <li class ="nav-item mr-3 mb-1" style="width:120px !important;">
                  <%= link_to '募集する', new_recruit_path,
                  class:"btn btn-warning btn-gradient py-2 w-100" %>
                </li>
                <li class ="nav-item mr-3 mb-1" style="width:120px !important;">
                  <%= link_to 'マイページ', user_my_page_path(current_user.id),
                  class:"btn btn-warning btn-gradient py-2 w-100" , style:"white-space: nowrap;"%>
                </li>
                <li class ="nav-item" style="width:120px!important;">
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete,
                  class:"btn btn-warning btn-gradient  py-2 w-100", style:"white-space: nowrap;" %>
                </li>
              </ul>

          <!--管理者ログイン後のナビゲーションバー-->
            <% elsif admin_signed_in? %>
              <ul class ="navbar-nav ml-auto">
                <li class ="nav-item mr-3 mb-1">
                  <%= link_to 'ジャンル管理', admin_genres_path,
                  class:"btn btn-warning btn-gradient px-5 py-2" %>
                </li>
                <li class ="nav-item mr-3 mb-1">
                  <%= link_to 'ユーザー一覧', admin_path,
                  class: "btn btn-warning btn-gradient px-5 py-2" %>
                </li>
                <li class ="nav-item">
                  <%= link_to 'ログアウト', destroy_admin_session_path,
                  method: :delete, class:"btn btn-warning btn-gradient px-5 py-2" %>
                </li>
              </ul>

          <!--ログアウト後(サインイン前)のナビゲーションバー-->
            <% else %>
              <ul class ="navbar-nav ml-auto">
                <li class ="nav-item mr-3">
                  <%= link_to '募集一覧', recruits_path,
                  class:"btn btn-warning btn-gradient px-5 py-2" %>
                </li>
                <li class ="nav-item mr-3">
                  <%= link_to '新規登録', new_user_registration_path,
                  class: "btn btn-warning btn-gradient px-5 py-2" %>
                </li>
                <li class ="nav-item">
                  <%= link_to 'ログイン', new_user_session_path,
                  class:"btn btn-warning btn-gradient px-5 py-2" %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

     <main class="mb-auto">
      <%= yield %>
    </main>
    <%#= debug(params) if Rails.env.development? %>

    <footer class="footer">
      <div class="bg-warning bg-gradient p-2">
        <p class="text-light text-center m-0">ClubMatch</p>
      </div>
    </footer>
  </body>
</html>